<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="da" lang="da">
	<head>
	<link rel="stylesheet" href="tavle.css" type="text/css" media="screen" />
	<script type="text/javascript" src="../js/jquery-1.4.2.min.js"></script>
		<script type="text/javascript">
	            $(document).ready(function(){
                    	$('.pascal-content').css("height", ($(window).height()-200)  + 'px');
                    });
                    $(window).resize(function() {
                    	$('.pascal-content').css("height", ($(window).height()-200)  + 'px');
                    });
                 </script>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Untitled Document</title>
		
		
	</head>
	<body>
		<div class="pascal-top"></div>
			<div class="pascal-content">
				<div class="pascal-left-content"></div>
				<div class="pascal-right-content"></div>
			</div>
		<div class="pascal-bottom"></div>
	</body>

</html>
